<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vet List</title>
</head>
<body>
   <h1 th:text="'Vets List'">List of Vets</h1>

<table class="table table-striped">
    <thead>
      <tr>
          <td>Id</td>
          <td>First Name</td>
          <td>Last Name</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet :${vets}">
          <td th:text="${vet.id}">1</td>
          <td th:text="${vet.firstName}">john</td>
          <td th:text="${vet.lastName}">Doe</td>
      </tr>
    </tbody>
</table>
</body>
</html>